In [47]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

In [45]:
credit_card_data= pd.read_csv('credit_data.csv')

In [40]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [41]:
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [5]:
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [6]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

under-sampling

In [8]:
legit_sample = legit.sample(n=492)

In [9]:
legit_sample.shape

(492, 31)

In [10]:
new_dataset = pd.concat([legit_sample,fraud],axis = 0)

In [11]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
29197,35359.0,1.485717,-1.220083,0.444884,-1.304756,-1.411964,-0.154407,-1.136127,-0.054238,-1.296230,...,-0.559034,-1.145450,0.052191,-0.502996,0.303510,-0.376934,0.047446,0.023380,39.99,0
92118,63786.0,1.059067,-0.620401,1.270490,0.815407,-0.981350,1.084774,-1.095757,0.529813,1.391127,...,0.075460,0.601889,-0.164131,-0.211613,0.427624,0.724950,0.034358,0.004846,24.90,0
269043,163503.0,-0.763587,0.955476,-1.170298,-2.386558,-0.188842,-1.155937,0.029627,0.433110,-1.308409,...,0.619876,1.595230,-0.104465,-0.584580,-0.557199,-0.189224,-0.043464,0.159901,15.00,0
274160,165879.0,-0.313491,-0.781652,1.114063,-2.512677,-0.156926,0.313483,-0.630778,0.174787,-2.365439,...,-0.023689,0.240990,-0.116925,0.216055,-0.109105,-0.105925,0.131424,0.132481,26.80,0
261961,160257.0,1.783366,-0.428079,-1.393796,0.484868,-0.156094,-1.266194,0.463408,-0.478046,0.485747,...,0.360086,0.914451,-0.140345,0.116121,0.227685,-0.123179,-0.038506,-0.029677,150.00,0

In [12]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [49]:
vectorizer = TfidfVectorizer()

In [1]:
vectorizer

NameError: name 'vectorizer' is not defined